extends layout
block content
  ul
    h1 Articles
    for article in data.articles
      li
        a(href=article.link) #{article.title}
    h1 Categories
    for category in data.categories
      li #{category.name}
    h1 Edit Categories
    form(action="/dashboard", method="post")
      input(type="hidden", name="userID", value="1")
      input(type="text", name="category")
      input(type="radio", name="action", value="add")
      | Add
      input(type="radio", name="action", value="remove")
      | Remove
      input(type="submit", value="Go")
